body {
    /* background-image: url(images/fast-fashion-vs-slow-sustainable-fashion.jpg);
    background-size: cover; */

    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.liste {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lili {
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    display: flex;
    align-items: center;
}

i {
    font-size: 30px;
    margin-right: 10px;
}

.cart {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.name {
    padding: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.intro {
    width: 100%;
    height: 546px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EBE3E3;
    padding: 0;
    margin: 0;
}

.shop {
    width: 259px;
    height: 380px;


}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
    color: #3C2C5B;
    padding: 20px;
    text-shadow: 5px 5px 5px grey;
    animation: grow 5s infinite alternate;
}

@keyframes grow {
    0% {

        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}


.collection {
    height: 50px;
    width: 250px;
    font-size: 20px;

}

button {
    background-color: #D15056;
    border-radius: 7px;
    border: 2px solid #3C2C5B;
    box-shadow: 2px 2px 2px grey;
    font-family: "Bebas Neue", sans-serif;
    padding: 5px;
    color: white;
}

.produits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.prod {
    height: 650px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.prod:hover {
    transform: scale(1.1);
}

.robe {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
}

.panier {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 0px;
}

.butt {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

}

.titre {
    height: 80px;
    width: 250px;
    display: flex;
    align-items: flex-start;



}

h4 {
    width: 130px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;


}

.prix {
    font-family: " Bebas Neue", sans-serif;
    font-size: 20px;


}

.prod p {
    font-family: "monteserrat", sans-serif;
    color: #3C2C5B;
    font-size: 16px;

}

.container {
    width: 250px;
    height: 200px;
    display: flex;
    position: relative;
}

.star {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    color: gold;
    position: absolute;
    bottom: 8px;
    right: -31px;


}


.fa-star {
    display: flex;
    font-size: 16px;
    margin-top: 25px;

}

.chargement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
}

.charger {
    width: 320px;
    height: 50px;
    font-size: 24px;
    border-radius: 0px;
}

.chevron {
    display: flex;
    margin: 20px;
}

.number {
    font-size: 19px;
    font-weight: bold;
    margin: 10px;
    padding-left: 60px;
    padding-right: 60px;
    ;

}

.foot {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #EBE3E3;
    padding-bottom: 30px;
    padding: 0;
    margin: 0;

}

.pied {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
}

ul {
    list-style-type: none;
    margin-bottom: 40px;
}

li {
    display: block;
    font-family: monteserrat, sans-serif;
    color: #3C2C5B;
}

.bas {
    font-family: montesserat, sans-serif;
    font-weight: bold;
    color: #3C2C5B;
}

.dessous {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flag {
    border-radius: 3px;
    width: 30px;
}

.fa-brands {
    font-size: 20px;
    color: gray;
}

.logi {
    width: 70px;
    height: 70px;
}

/* Mobile Styles */
@media (max-width: 767px) and (min-width: 0px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    .menu {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .liste {
        flex-direction: row;
        align-items: center;
    }

    .lili {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .name {
        display: none;
    }

    .intro {
        width: auto;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #EBE3E3;
        padding: 0;
        margin: 0;
        background-image: url('images/filles.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .shop {


        display: none;
    }

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 25px;
        color: #3C2C5B;
        padding: 10px;
        text-shadow: 3px 3px 3px grey;
        animation: none;
    }



    .collection {
        height: 50px;
        width: 250px;
        font-size: 20px;

    }

    button {
        background-color: #D15056;
        border-radius: 7px;
        border: 2px solid #3C2C5B;
        box-shadow: 2px 2px 2px grey;
        font-family: "Bebas Neue", sans-serif;
        padding: 5px;
        color: white;
    }

    .produits {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px 0;
        margin: 0;
    }

    .prod {
        height: auto;
        width: calc(50% - 40px);
        max-width: 320px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        transition: transform 0.3s ease;
    }

    .prod:hover {
        transform: scale(1.05);
    }

    .robe {
        max-width: 100%;
        height: 200px;
        border-radius: 15px;
        overflow: hidden;
    }

    .panier {
        width: 100%;
        height: 40px;
        font-size: 12px;
        border-radius: 0;
        margin-right: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .panier:hover {
        background-color: #5e4873;
    }

    .butt {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .titre {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        position: relative;
    }

    h4 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 12px;
        margin-bottom: 10px;
        margin: 0;
    }

    .prix {
        font-family: "Bebas Neue", sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
        position: absolute;
        left: 100px;
        top: 8px;
    }


    .prod p {
        font-family: "Montserrat", sans-serif;
        color: #3C2C5B;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .container {
        width: 100%;
        height: 95px;
        display: flex;
        position: relative;
    }

    .star {
        height: 30px;
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        color: gold;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .fa-star {
        font-size: 14px;
        margin-top: 5px;
    }

    .chargement {
        margin-left: 0;
        margin-right: 0;
    }

    ul {
        display: none;
    }

    .foot {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .foot p {
        border: 1px solid #3C2C5B;
        font-weight: bold;
    }

    .bas:hover+ul,
    .bas ul:hover {
        display: block;

    }

    .flag {

        width: 20px;
    }

}



@media (min-width: 768px) and (max-width: 1024px) {


    h1 {
        font-size: 50px;
        padding: 15px;
        animation: none;
    }

    h4 {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 0;
    }

    .shop {
        width: 178px;
        height: auto;
    }

    .collection {
        width: 220px;
        height: 70px;
        font-size: 18px;
    }

    button {
        padding: 10px;
        font-size: 18px;
    }

    .produits {
        justify-content: space-around;
    }

    .prod {
        width: calc(33.33% - 90px);
        margin: 15px;
    }

    .robe {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray;
    }

    .container {
        width: 114px;
        height: 123px;
        position: relative;

    }

    .panier {
        margin-right: 7px;
    }

    .prix {
        position: absolute;
        left: 130px;
        top: 8px;

    }

    .flag {
        width: 20px;
    }


}